<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>

<html>
  <head>
    <style>
      body {
        background: <%=feedback_color%>;
      }
    </style>
  </head>
<body>

<html>
  <head></head>
  <body>
    <p>
      The secret number is <%= shown_number %>
    <br><br>
      <%= output %>
    </p>
  </body>
</html>